@font-face {
    font-family: 'SimpleGothic';
    src: url('../fonts/SimpleGothic.woff') format('woff');
}
@font-face {
    font-family: 'cinzel_regular';
    src: url('../fonts/cinzel_regular.woff') format('woff');
}

@font-face {
    font-family: 'cinzel_bold';
    src: url('../fonts/cinzel_bold.woff') format('woff');
}


body {
    background-color: rgb(0 0 0);
}

.header_image {
    background-image: url('../images/characters/header.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 300px;
}

h3 {
    font-family: 'cinzel_regular', sans-serif, serif;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}