@font-face {
    font-family: 'SimpleGothic';
    src: url('../fonts/SimpleGothic.woff') format('woff');
}
@font-face {
    font-family: 'cinzel_regular';
    src: url('../fonts/cinzel_regular.woff') format('woff');
}

@font-face {
    font-family: 'cinzel_bold';
    src: url('../fonts/cinzel_bold.woff') format('woff');
}


body {
    background-color: rgb(0 0 0);
}

.header_image {
    display: flex;
    background-image: url('../images/characters/header.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 200px;
    border: #00a7ff 1px solid;
    box-shadow: 0 0 20px rgba(50, 238, 255, 0.5%);
    align-items: center;
    justify-content: center;
}

.header_text {
    color: white;
    text-align: center;
    font-family: 'cinzel_regular', sans-serif, serif;
    font-size: 28px;
}

.races_preview_text_container {
    margin-top: 20px;
    padding: 10px;
    font-family: 'cinzel_regular', serif, sans-serif;
    color: white;
    font-size: 16px;
    background: linear-gradient(90deg, #00a7ff, #2c6e94, #b0cad9, #2e8896);
    text-align: center;
    border: #00a7ff 1px solid;
    box-shadow: 0 0 20px rgba(50, 238, 255, 0.99);
}

h3 {
    font-family: 'cinzel_regular', sans-serif, serif;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}

.brenari_text_preview_container {
    font-family: 'cinzel_regular', sans-serif, serif;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(90deg, #00a7ff, #2c6e94, #b0cad9, #2e8896);
    text-align: center;
    border: #00a7ff 1px solid;
    box-shadow: 0 0 20px rgba(50, 238, 255, 0.99);
}

.brenari_container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 10px;
}

.brenari_container img {
    max-width: 300px;
    max-height: 350px;
    border: #00a7ff 1px solid;
    box-shadow: 0 0 20px rgba(50, 238, 255, 0.99);
}